.license {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: rgba(240, 248, 255, 0.784);
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  a {
    color: rgba(201, 230, 255, 0.784);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    &:hover {
      color: rgba(154, 208, 255, 0.784);
      // text-decoration: underline;
      &::after {
        width: 100%;
        transition: width 0.2s ease-in-out;
      }
      &::before {
        width: 100%;
        transition: width 0s ease-in-out 0.2s;
      }
    }
    &::before,
    &::after {
      content: "";
      display: block;
      bottom: 0;
      width: 0;
      height: 2px;
      background: rgba(154, 208, 255, 0.784);
      position: absolute;
    }
    &::after {
      transition: width 0 ease-in-out;
      left: 0;
    }
    &::before {
      right: 0;
      transition: width 0.2s ease-in-out;
    }
  }
}
.github {
  aspect-ratio: 1/1;
  width: 20px;
  filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
}
